header {
    padding: 1.5em;
    background-color: #D0D3DA;
}

header h1 {
    font-size: 500%;
    font-weight: 300;
}

header p {
    font-size: 200%;
    font-weight: 300;
}

.description svg {
    height: 1em;
}

.bunny img {
    float: left;
    max-height: 200px;
    margin-right: 1em;
}

.bunny aside {
    font-size: 200%;
    font-weight: 100;
}

.bunny p {
    clear: both;
}

footer {
    clear: both;
}

@media(min-width: 768px) {
    header {
        background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(0,0,0,0)), url(../img/pencil-background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 600px;
        padding: 1.5em;
    }
}

@media(min-width: 923px) {
    header {

    }
}
