<h1>Edit {{contact.fname}} {{contact.lname}}</h1>

<form name="contactForm" novalidate ng-submit="save()">
    <div class="form-group">
        <label for="fnameImp">First Name:</label>
        <input type="text" class="form-control" id="fnameImp" name="fnameImp" ng-model="contact.fname"/>
    </div>

    <div class="form-group">
        <label for="lnameImp">Last Name:</label>
        <input type="text" class="form-control" id="lnameImp" name="lnameImp" ng-model="contact.lname" required/>
        <p class="validation-error"
           ng-if="contactForm.lnameImp.$error.required">Last name is required.</p>
    </div>

    <div class="form-group">
        <label for="phoneImp">Phone Number:</label>
        <input type="tel" class="form-control" id="phoneImp" name="phoneImp" ng-model="contact.phone"
                pattern="\d{3}-\d{3}-\d{4}"/>
        <p class="validation-error"
           ng-if="contactForm.phoneImp.$error.pattern">Pattern must be xxx-xxx-xxxx</p>
    </div>

    <div class="form-group">
        <label for="dobImp">Date of birth:</label>
        <input type="text" class="form-control" id="dobImp" name="dobImp" ng-model="contact.dob" in-the-past/>
        <p class="validation-error" ng-if="contactForm.dobImp.$error.inThePast">Date of birth must be in the past.</p>
    </div>
    
    <div class="form-group">
        <label for="shoeImp">Shoe Size: </label>
        <input type="number" class="form-control" id="shoeImp" name="shoeImp" ng-model="contact.shoeSize" required min="4" max="17" step="0.5"/>
        <p class="validation-error" ng-if="contactForm.shoeImp.$error.min">Shoe size must be at least 4</p>
        <p class="validation-error" ng-if="contactForm.shoeImp.$error.max">Shoe size must be no more than 17</p>
        <p class="validation-error" ng-if="contactForm.shoeImp.$error.required">Shoe size is required</p>
    </div>

    <div class="form-group">
        <a class="btn btn-default" ui-sref="list">Cancel</a>
        <button type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid">Save</button>
    </div>
</form>